<!DOCTYPE html>
<html>
  <head>
    <title>What are my issues?</title>
    <!---
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">
    <script src="/javascript/jquery-1.8.2.min.js"></script>
    -->
  </head>
  <body>
    <div class="container">
      <h1> TriJUG Burndown list </h1>
      <p> How come there are no issues here? :(</p>
      <% @issues.each do |i| %>
        Title: <%= i.title %><br/>
      <% end %>
    </div>
  </body>
</html>

